
body{
    margin: 0px;
    font-family: 'Merriweather', serif;
}
.bottom-container{
/*    width: 80px;*/
    margin: 0 auto;
    background-color: #66bfbf;
    padding: 50px 0 20px;
    text-align: center;
}
.bottom-container a{
    text-decoration: none;
}
.bottom-cloud{
    position: absolute;
}

.btn a{
    width: 50px;
    margin: 0 auto;
    display: block;
}
.bottom-cloud{
    position: absolute;
    top: 150px;
    left: 400px;
}
.btn{
    width: 120px;
    padding: 20px;
    margin: 10px;
    background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    color: #FFFFFF;
    box-shadow: 1px 1px 20px 0px #000000;
/*    padding: 40px;*/
    text-shadow: 1px 1px 20px #000000;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: solid #337FED 1px;

/*
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
*/
    text-decoration: none;
}
/*
.btn {
   
   
   
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   
   
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
      
   
   
   
   
}
*/

.btn : hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.contact-me{
    text-align: center;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
div{
    
    position: relative;
}
.footer-link{
/*    display: block;*/
/*    margin: 0px auto;*/
/*    text-align: left;*/
}

h1{
    margin: 70px auto 0;
    width: 250px;
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
/*    text-align: center;*/
    color:  #11999E;
}
hr{
    border: dotted #eaf6f6;
    border-bottom: none;
    width: 10%;
    margin: 80px auto;
}
.middle-container{
    position: relative;
    margin-top: 100px;
}

.fw{
    padding-left: 150px;

}

p{
    width: 350px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 15px;
}
a{
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}
a : hover{
    color: #EAF6F6;
}
.profile-img{
    border-radius: 100px;
    height: 200px;
}
.profile{
    text-align: center;
    width: 0 auto;  
}
.skill-row li{
    width: 100px;
    text-align: left;
    clear: left;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    overflow: hidden;
}
.skill-pic{
    width: 25%;
    display: inline-block;
    float: left;
    margin-right: 50px;
    
/*    margin: 0 auto;*/
}
.self{
    margin-top: 20px;
}
.title{
    font-size: 1.7rem;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;
    
}
.top-container{
    padding: 20px;
    border: 3px solid;
    text-align: center;
    background-color: #e4f9f5;
}
.top-cloud{
    position: absolute;
}
.web-code{
    width: 25%;
/*    margin: 0 auto;*/
    display: block;
    float: right;
    margin-left: 50px;
}